*{
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scrollbar-gutter: stable;
}

.mainOne {
  background: rgba(241, 241, 241, 1);
  padding-top: 80px;           /* desktop/tablet default */
}

@media (max-width: 768px) {
  .mainOne {
    padding-top: 0px;         /* mobile */
  }
}